<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>


<form th:action="@{/eventCategories/create}" method="POST">
    <div class="form-group">
        <label>Name
            <input th:field="${eventCategory.name}" class="form-control">
        </label>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </div>
</body>
</html>